[submodule "BinarySerializer.Nintendo"]
	path = BinarySerializer.Nintendo
	url = https://github.com/BinarySerializer/BinarySerializer.Nintendo.git
[submodule "BinarySerializer"]
	path = BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
